div.card-image{

}
.zoom{
    position: absolute;
    top: 40px;
    right: 50%;
    width: 40px;
    height: 40px;
    animation: zoom 1s ease forwards;

}
@keyframes zoom {
    0%{
        opacity:0
    }

    50%{
        opacity:1
    
}
    100%{
        opacity:0;
        right:40px
    }

   
}